@page
@model Asp_Assignments.Pages.Rich.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RichHuman</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RichHuman.Name" class="control-label"></label>
                <input asp-for="RichHuman.Name" class="form-control" />
                <span asp-validation-for="RichHuman.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RichHuman.BirthDate" class="control-label"></label>
                <input asp-for="RichHuman.BirthDate" class="form-control" />
                <span asp-validation-for="RichHuman.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RichHuman.TheirExpertise" class="control-label"></label>
                <input asp-for="RichHuman.TheirExpertise" class="form-control" />
                <span asp-validation-for="RichHuman.TheirExpertise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RichHuman.NetWorth" class="control-label"></label>
                <input asp-for="RichHuman.NetWorth" class="form-control" />
                <span asp-validation-for="RichHuman.NetWorth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RichHuman.Age" class="control-label"></label>
                <input asp-for="RichHuman.Age" class="form-control" />
                <span asp-validation-for="RichHuman.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RichHuman.Nationality" class="control-label"></label>
                <input asp-for="RichHuman.Nationality" class="form-control" />
                <span asp-validation-for="RichHuman.Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
