@page "/"

<PageTitle>Index</PageTitle>

<h1>@MyTheme</h1>

<p>My name is @MyName and this is the assignment 3</p>

<p>Current date and time: @CurrentDate</p>



@code {

    private string? MyTheme = "Richest Human Alive";

    private string? MyName = "Nihar Sadhu";

     public DateTime CurrentDate = DateTime.Now;

}


