@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    
</div>

<p><strong>My Name is Nihar Sadhu</strong></p>
    <p>My theme is Richest Humans Alive</p>
    <p>My theme is about the richest people</p>
    <p>I choose this theme because the richest people are not only just rich they are focused
        ,goal oriented and hard working and that is the reason that they are rich they were not born with 
        a golden spoon but they made one for them by which we all should take inspiration.
    </p>
    <p><em>link to my github repository: <a href="https://github.com/NiharSadhu/Asp-Assignments">Asp_Assignments</a></em></p>
