@page "/richHuman"


<PageTitle>Richest Humans Alive</PageTitle>

@using Asp_Assignments.Data

<body>

<div class="div1">
<h1>Richest Humans Alive</h1>


<p>This component demonstrates the richest Humans alive in today's world.</p>




<input placeholder="Name" @bind="inputName" required /><br />

<input placeholder="TheirExpertise" @bind="inputExpertise" required /><br />


<input placeholder="NetWorth" @bind="inputWorth" required /><br />
<button @onclick="AddName">Update List</button>

</div>



<br />

<div class="div2">
<p>The Inputs Will be Added Below:</p>

<ul>
    @foreach (var rich in richHuman)
    {
        <li>Name : @rich.Name</li>
        <li>TheirExpertise : @rich.TheirExpertise</li>
        <li>NetWorth : @rich.NetWorth</li><br />

    }
   
</ul>

</div>

</body>



@code {
    private List<RichHuman> richHuman = new();
        private string inputName = string.Empty;

        private string inputExpertise = string.Empty;

        private string inputWorth = string.Empty;


    private void AddName()
    {
        if (!string.IsNullOrWhiteSpace(inputName))
        {
        richHuman.Add(new RichHuman { 
            
            
            Name = inputName,
            TheirExpertise = inputExpertise,
            NetWorth = inputWorth

     });

                 inputName = string.Empty;
                 inputExpertise = string.Empty;
                 inputWorth = string.Empty;

        }
    }  
}

   